---
# yaml-language-server: $schema=https://k8s-schemas-cjso.pages.dev/fluxcd.controlplane.io/fluxinstance_v1.json
apiVersion: fluxcd.controlplane.io/v1
kind: FluxInstance
metadata:
  name: flux
  namespace: flux-system
spec:
  distribution:
    # renovate: datasource=github-releases depName=controlplaneio-fluxcd/distribution
    version: 2.7.5
    registry: ghcr.io/fluxcd
  components:
    - source-controller
    - kustomize-controller
    - helm-controller
    - notification-controller
  cluster:
    type: kubernetes
    multitenant: false
    networkPolicy: true
    domain: cluster.local
  sync:
    kind: GitRepository
    provider: github
    url: https://github.com/chrede88/home-ops.git
    ref: refs/heads/main
    path: cluster/kubernetes/flux/main
    pullSecret: github-auth
  kustomize:
    patches:
      # Controller level SOPS/age decryption
      - patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --sops-age-secret=sops-age
        target:
          kind: Deployment
          name: kustomize-controller
      # Cancel health checks on new Kustomizations revisions
      - patch: |
          - op: add
            path: /spec/template/spec/containers/0/args/-
            value: --feature-gates=CancelHealthCheckOnNewRevision=true
        target:
          kind: Deployment
          name: kustomize-controller
      # Add label to namespace
      - patch: |
          - op: add
            path: /metadata/labels/-
            value: internal-gateway-access: "true"
        target:
          kind: Namespace
          name: flux-system
