# talconfig for cluster: metal

clusterName: metal
endpoint: https://10.10.30.30:6443

# renovate: depName=ghcr.io/siderolabs/installer datasource=docker
talosVersion: v1.12.3
# renovate: depName=ghcr.io/siderolabs/kubelet datasource=docker
kubernetesVersion: v1.35.1

domain: cluster.local
allowSchedulingOnControlPlanes: true
cniConfig:
  name: none
clusterPodNets:
  - 10.244.0.0/16
clusterSvcNets:
  - 10.96.0.0/12
additionalMachineCertSans: &sans
  - 10.10.30.30
additionalApiServerCertSans: *sans

nodes:
  - hostname: death
    ipAddress: 10.10.30.2
    controlPlane: true
    installDisk: /dev/sda
    patches:
      - "@./patches/dhcp.yaml"
      - "@./patches/l2vip.yaml"
      - "@./patches/thunderbolt-death.yaml"

  - hostname: black
    ipAddress: 10.10.30.3
    controlPlane: true
    installDisk: /dev/sda
    patches:
      - "@./patches/dhcp.yaml"
      - "@./patches/l2vip.yaml"
      - "@./patches/thunderbolt-black.yaml"

  - hostname: thrash
    ipAddress: 10.10.30.4
    controlPlane: true
    installDisk: /dev/sda
    patches:
      - "@./patches/dhcp.yaml"
      - "@./patches/l2vip.yaml"
      - "@./patches/thunderbolt-thrash.yaml"

controlPlane:
  schematic:
    customization:
      extraKernelArgs:
        - intel_iommu=on
        - iommu=pt
        - mitigations=off
        - net.ifnames=0

      systemExtensions:
        officialExtensions:
          - siderolabs/i915
          - siderolabs/intel-ice-firmware
          - siderolabs/intel-ucode
          - siderolabs/mei
          - siderolabs/thunderbolt
          - siderolabs/util-linux-tools

  patches:
    # wipe install disk
    - |-
      machine:
        install:
          wipe: true

    # disable proxy
    - |-
      cluster:
        proxy:
          disabled: true

    # Enable thunderbolt + net
    - |-
      machine:
        kernel:
          modules:
            - name: nbd
            - name: thunderbolt
            - name: thunderbolt_net

    # udev rules
    - |-
      machine:
        udev:
          rules:
            # Thunderbolt
            - ACTION=="add", SUBSYSTEM=="thunderbolt", ATTR{authorized}=="0", ATTR{authorized}="1"
            # Intel GPU
            - SUBSYSTEM=="drm", KERNEL=="renderD*", GROUP="44", MODE="0660"

    # features
    - |-
      machine:
        features:
          rbac: true
          stableHostname: false
          apidCheckExtKeyUsage: true
          diskQuotaSupport: true
          kubePrism:
            enabled: true
            port: 7445
          hostDNS:
            enabled: true
            forwardKubeDNSToHost: true

    # bind address for controllerManager & scheduler
    - |-
      cluster:
        controllerManager:
          extraArgs:
            bind-address: 0.0.0.0
        scheduler:
          extraArgs:
            bind-address: 0.0.0.0

    # metric address for etcd
    - |-
      cluster:
        etcd:
          extraArgs:
            listen-metrics-urls: http://0.0.0.0:2381

    # configure containerd for spegel
    - |-
      machine:
        files:
          - op: create
            path: /etc/cri/conf.d/20-customization.part
            content: |-
              [plugins.'io.containerd.cri.v1.images']
                discard_unpacked_layers = false

    # give kubernetes access to Talos (tuppr)
    - |-
      machine:
        features:
          kubernetesTalosAPIAccess:
            allowedKubernetesNamespaces:
              - system-upgrade
              - action-runner-system
            allowedRoles:
              - os:admin
            enabled: true
