# Apple stuff
.DS_Store

# Talos
cluster/talos/config/talosconfig
cluster/talos/config/secrets.yaml
cluster/talos/config/controlplane.yaml
cluster/talos/config/controlplane-odin.yaml
cluster/talos/config/controlplane-thor.yaml
cluster/talos/config/controlplane-baldr.yaml
cluster/talos/config/worker.yaml
cluster/talos/config/patches/add-cilium.yaml
cluster/talos/config/patches/cilium.yaml