---
# yaml-language-server: $schema=https://k8s-schemas-cjso.pages.dev/cert-manager.io/clusterissuer_v1.json
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: christian@cjsolsen.com
    profile: shortlived
    privateKeySecretRef:
      name: letsencrypt-production
    solvers:
      - selector:
          dnsZones:
            - 'cjsolsen.com'
        dns01:
          cloudflare:
            email: christian@cjsolsen.com
            apiTokenSecretRef:
              name: cloudflare-api-token-secret
              key: api-token
