---
# yaml-language-server: $schema=https://k8s-schemas-cjso.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-operator
spec:
  interval: 30m
  timeout: 15m
  chartRef:
    kind: OCIRepository
    name: flux-operator
    namespace: flux-system
  values:
    resources:
      limits:
        cpu: 2000m
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 64Mi
    serviceMonitor:
      create: true
