---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflare-ddns
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      app:
        replicas: 1
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: favonia/cloudflare-ddns
              tag: 1.15.1
            probes:
              liveness: &probes
                enabled: false
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ['ALL'] }
              seccompProfile:
                type: RuntimeDefault
              runAsNonRoot: true
              runAsUser: 314
              runAsGroup: 314
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
            envFrom:
              - configMapRef:
                  identifier: config
              - secretRef:
                  name: cloudflare-ddns-secret
    configMaps:
      config:
        enabled: true
        data:
          TZ: 'Europe/Zurich'
          DOMAINS: cjsolsen.com
          PROXIED: 'true'
          IP6_PROVIDER: 'none'
          DELETE_ON_STOP: 'false'
          UPDATE_CRON: '@every 10m'
          QUIET: 'false'
