---
# yaml-language-server: $schema=https://k8s-schemas-cjso.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudnative-pg
spec:
  interval: 30m
  timeout: 15m
  chartRef:
    kind: OCIRepository
    name: cloudnative-pg
    namespace: flux-system
  values:
    crds:
      create: true
    monitoring:
      podMonitorEnabled: true
