---
# yaml-language-server: $schema=https://k8s-schemas-cjso.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &name action-runner-controller
spec:
  interval: 30m
  timeout: 15m
  chartRef:
    kind: OCIRepository
    name: gha-runner-scale-set-controller
    namespace: flux-system
  values:
    fullnameOverride: *name
