---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: 'Schemas'

on:
  workflow_dispatch:
  schedule:
    - cron: '0 3 * * 0'

env:
  UV_SYSTEM_PYTHON: '1'

jobs:
  publish:
    name: Schemas
    runs-on: k8s-runner
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Install kubectl
        uses: azure/setup-kubectl@v4.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@v7.1.6

      - name: Setup Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: 3.14.2

      - name: Setup Node
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24.12.0

      - name: Install Python Dependencies
        run: uv pip install pyyaml

      - name: Run crd-extractor
        run: curl -fsSL https://raw.githubusercontent.com/datreeio/CRDs-catalog/43e4407642d4c37683c88711f37caa6c9c20ca40/Utilities/crd-extractor.sh | bash

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3.14.1
        with:
          apiToken: '${{ secrets.CLOUDFLARE_API_TOKEN }}'
          accountId: '${{ secrets.CLOUDFLARE_ACCOUNT_ID }}'
          workingDirectory: /home/runner/.datree/crdSchemas
          command: pages deploy --project-name=k8s-schemas-cjso --branch main .
